<!-- Default home page -->

<div class="default-page" ng-app="app">
    <div class="logo">
        <h1 id="main-title" class="container">Millennial Falcon</h1>
    </div>
    
    <main ui-view></main>
</div>
