<!-- Default home page -->

<div class="default-page" ng-app="app" ng-controller="NavigationCtrl">
    <header ng-controller="NavCtrl">
		<div id="login-register-link" ng-show="logged">
			<a class="login ng-cloak" ui-sref="login" ng-cloak>login </a>
			<div class="login ng-cloak" ng-cloak> | </div>
			<a class="login ng-cloak" ui-sref="register" ng-cloak> register</a>
		</div>
		<div id="logout-register-link" ng-hide="logged">
			<a class="login ng-cloak" ng-click="logout()" ng-cloak>logout </a>
		</div>
		<div id="logo-group">
			<div id="logo-image"></div>
			<a id="logo-text" ui-sref="welcome">
				<h1 id="logo-text">MILLENNIAL FALCON</h1>
			</a>
		</div>
    </header>
    
    <main ui-view></main>
</div>
