<section id="register-container" ng-controller="RegisterCtrl">
	<h2>Register</h2>
	<p ng-bind="err"></p>
	<form class="form" ng-submit="register(credentials, userProfile)" novalidate>
		<div id="register-form">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" id="first-name" placeholder="Enter Your First Name" ng-model="userProfile.firstName">
				<p class="error" ng-bind="errorProfile.firstName"></p>
			</div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" id="last-name" placeholder="Enter Your Last Name" ng-model="userProfile.lastName">
				<p class="error" ng-bind="errorProfile.lastName"></p>
			</div>
			<div class="form-group">
				<label for="lastName">Date of Birth</label>
				<input type="date" class="form-control" id="last-name" placeholder="For Lifetime Analysis" ng-model="userProfile.dateOfBirth">
				<p class="error" ng-bind="errorProfile.dateOfBirth"></p>
			</div>
			<div class="form-group">
				<label for="phone">Mobile Phone</label>
				<input type="tel" pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}" class="form-control" id="mobile-phone" placeholder="(512)-512-5121" ng-model="userProfile.mobilePhone">
				<p class="error" ng-bind="errorProfile.mobilePhone"></p>
			</div>
			<div class="form-group" ng-class="error.identifier ? 'error' : ''">
				<label for="email">Email address</label>
				<input class="form-control" type="text" id="email" placeholder="Enter Your email" ng-model="credentials.identifier">
				<p class="error" ng-bind="error.identifier"></p>
			</div>
			<div class="form-group" ng-class="error.password ? 'error' : ''">
				<label for="password">Password</label>
				<input class="form-control" type="password" id="password" placeholder="Enter Your Password" ng-model="credentials.password">
				<p class="error" ng-bind="error.password"></p>
			</div>
			<button type="submit" class="btn btn-default">Register</button>
		</div>
	</form>
</section>