<section id="user-monthly-container" ng-controller="UserMonthlyCtrl">
	<h2>MONTHLY</h2>

	<div class="future">
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Monthly View of Anticipated Account Balances</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Bills due This Month</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Income paid This Month</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Potential Savings for the Month</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Investment Comparison of Potential Savings Monthly</h3>
	</div>
</section>