<section id="welcome-analysis" ng-controller="WelcomeAnalysisCtrl">
	<div id="analysis-menu">
		<div id="millennials">
			<h2>The Average Millennial</div></h2>
			
		</div>
			
		<div>
		<hr>
			<h2 id="menu-text">Select a Year</h2>
		</div>
		<div class="input-group" id="analysis-input">
			<div class="input-group-addon" id="basic-addon1">Year</div>
			<input ng-change="update()" ng-model="analysisYear" id="analysis-year" type="text" class="form-control" placeholder="Year for Estimation" aria-describedby="basic-addon1">
		</div>
		<hr>

		<div id="analysis-output">
			<h3> Visualize the Estimated Data</h3>
			<button type="button" class="btn btn-primary btn-lg analysis-output-btn" ng-click="onTableClick()">Table</button>
			<button type="button" class="btn btn-primary btn-lg analysis-output-btn" ng-click="onGraphClick()">Graph</button>
		</div>
		<hr>
	</div>

	<div id="analysis-tables">
		<div id="stocks" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
		  	<section class="storage-modal">
		  		<a class="storage-modal-header" ng-click="onModalClick()">Stocks</a>
				<div class="content" ng-hide="modalContent">
	                <div><strong>Overview:</strong></div>
	                <p class="text"><small>This is a synopsis of stocks.</small></p>
	                <div><strong>Taxes:</strong></div>
	                <p class="text"><small>This is a synopsis of the tax ramifications on stocks.</small></p>
				</div>
			</section>
		  </div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		</div>

		<div id="savings-account" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Savings Account</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		</div>

		<div id="401K" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">401K</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		  </table>
		</div>

		<div id="roth-401k" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">ROTH 401K</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		</div>

		<div id="ira" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">IRA</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		</div>

		<div id="roth-ira" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">ROTH IRA</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		  </table>
		</div>

		<div id="universal-life" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Universal Life Insurance</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		</div>

		<div id="ul-trust" class="panel panel-default analysis-table" ng-show="analysisTable">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Universal Life Insurance & Dynasty Trust</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Gain/Loss</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		</div>
	</div>

	<div id="analysis-graphs" ng-hide="analysisGraph">
		<div class="analysisGraph">Graphs</div>
	</div>

</section>

<div id="footer">
		<p id="disclaimer">
			These calculators are designed to be informational and educational tools only, and when used alone, do not constitute investment advice. We strongly recommend that you seek the advice of a financial services professional before making any type of investment. We also encourage you to review your investment strategy periodically as your financial circumstances change. This model is provided as a rough approximation of future financial performance. The results presented by this calculator are hypothetical and may not reflect the actual growth of your own investments. Millennial Falcon and its affiliates are not responsible for the consequences of any decisions or actions taken in reliance upon or as a result of the information provided by these tools. Millennial Falcon is not responsible for any human or mechanical errors or omissions.

		</p>
</div>
