<div id="body" ng-controller="WelcomeCtrl">
	<h1>We Make Finances Understandable.</h1>
	<div id="header-text">
		The mission of Millennial Falcon is to assist humans in understanding and estimating their financial lives. From debt, income, and goal mapping to connecting with someone who can help automate your interaction with finance and plan for your future.
	</div>
	<div id="welcome-query">
		<div id="welcome-input">
			<!-- <input type="integer" id="input" placeholder="Enter Amount to SAVE"></input> -->
			<div class="input-group">
  				<span class="input-group-addon">$</span>
  				<input ng-model="estimateValue" placeholder="Enter Amount to SAVE" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  				<span class="input-group-addon">.00</span>
</div>
		</div>
		<div id="welcome-button">
			<button class="btn btn-primary" ng-click="onEstimateClick()">Estimate</button>
		</div>
	</div>
</div>

