<section id="welcome">
	<div id="welcome-header">
		<h1>We Make Your Finances Understandable.</h1>
		<div id="header-text">
			The mission of Millennial Falcon is to assist humans in understanding and estimating their financial lives. From debt, income, and goal mapping to connecting with someone who can help automate your interaction with finance and plan for your future.
		</div>
	</div>
	<div id="welcome-query">
		<h2>What could that extra cash you have look like invested?</h2>
		<!-- 		<div class="input-group">
			<div id="welcome-input">
	  				<span id="welcome-dollar" class="input-group-addon">$</span>
	  				<input ng-model="estimateValue" placeholder="Enter an amount and see.." type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
	  				<button id="welcome-button" class="btn btn-primary" ng-click="onEstimateClick()">Estimate</button>
			</div>
		</div> -->
		<form class="form-inline" ng-submit="onEstimateClick()">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">$</div>
		    		<input id="welcome-input" type="text" class="form-control" ng-model="estimateValue" placeholder="Enter an amount and see..">
					<div class="input-group-addon">.00</div>
		    	</div>
			</div>
		  	<button type="submit" class="btn btn-primary">Let's Fly</button>
		</form>
	</div>
</section>

