body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}
.panel-heading {
	background-color: #A4D49C;
}
h2 {
	border-radius: 5px;
	color: white;
}
.future h3 {
	padding-left: 2em;
}
.future h3 span {
	font-size: 0.85em;
	padding-right: 1em;
	color: #232323;
}



//********************
//***** HOMEPAGE *****
//********************

header {
	font-family: 'PT Sans', sans-serif;
	background-color: #232323;
	margin: 0;
	font-size: 1.25em;
	text-decoration: none;
}
#logo-group {
	padding-top: 1em;
    padding-bottom: 1em;
}
#logo-image {
    margin: 0 auto;
    height: 112px;
    width: 112px;
    display: block;
    @media(min-width: 700px) {
        padding-left: 1em;
        height: 112px;
        width: 112px;
        display: inline-block;
    }
}
#logo-text {
	display: none;
	@media(min-width: 700px) {
		height: 50px;
		width: 540px;
		display: none;
		text-decoration: none;
		overflow: hidden;
		margin-bottom: 0;
		display: inline-block;
		vertical-align: bottom;
		margin-left: 1em;
		margin-bottom: 1.5em;
        padding-left: 1em;
	}
}
#logo-text:hover {
	text-decoration: none;
}
#logo-text-short {
	height: 60px;
	width: 201px;
	display: block;
	text-decoration: none;
	overflow: hidden;
	margin-bottom: 0;
	vertical-align: bottom;
	margin: 0 auto;
	margin-bottom: 1.5em;
    margin-top: 1em;
	@media(min-width: 700px) {
		display: none;
	}
}
#logo-text-short:hover {
	text-decoration: none;
}

#login-register-link {
	text-decoration: none;
	text-align: right;
	padding-right: 1em;
	padding-top: 0.5em;
	margin-bottom: 0;
	font-size: 1em;
	color: #3A658F;
}
#logout-register-link {
	text-decoration: none;
	text-align: right;
	padding-right: 1em;
	padding-top: 0.5em;
	margin-bottom: 0;
	font-size: 1em;
	color: white;
}
.login {
	display: inline-block;
	text-decoration: none;
	text-align: right;
	underline: none;
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-weight: 100;
}
.login:hover {
	display: inline-block;
	text-decoration: none;
	text-align: right;
	color: #76C370;
	underline: none;
	text-decoration: none;
	cursor: pointer;
}



//********************
//***** WELCOME ******
//********************

#welcome {
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 10%;
	text-align: center;
}

#welcome-header{

	@media(min-width: 1000px) {
		width: 800px;
		margin: 0 auto;
	}
}
#welcome-header h1 {
	padding-top: 1em;
	color: #39B54A;
}
#header-text {
	margin: 3%;
	line-height: 1.6;
	padding: 1em;
	font-size: 1.15em;
}
#welcome-query {
	padding: 2em 0.75em 4em 0.75em;
	width: 100%;
	background-color: #A4D49C;
	display: inline-block;
}
#welcome-query h2 {
	color: white;
	line-height: 1.3;
	padding-bottom: 0.5em;
}
#welcome-input {
	width: 200px;
}
#welcome-dollar {
	width: 20px;
}
#input {
	margin-top: 1em;
	font-size: 14px;
	width: 220px;
	text-align: center;
	padding: 0.5em;
}
#welcome-button {
	display: inline-block;
}
.input-group {
	display: inline-block;
	width: 100%;
}


//****************************
//***** WELCOME ANALYSIS *****
//****************************

#welcome-analysis{
	font-family: 'PT Sans', sans-serif;
}
#millennials {
	padding: 5% 0;
	margin: 0 5%;
}
#millennials h2 {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}
.millennial-modal-header:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.millennial-content {
	margin-bottom: 2em;
	text-align: left;
}
.millennial-content h3{
	margin: 0;
	color: #232323;
	font-size: 1.35em;
	font-weight: 500;
	padding: 0.5em;
}
.millennial-content p {
	padding: 0 1em;
	
}



#millennial-analysis {
	padding: 0 7%;
	padding-top: 3%;
	@media(min-width: 1000px) {
		padding: 0;
		width: 75%;
		margin: 0 auto;
	}
}
#millennial-analysis h2 {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}
#millennial-analysis h3{
	color: #232323;
}
#menu-text {
	text-align: center;
}

.input-group {
	border-bottom: none;
	text-align: center;
	margin: 0 auto;
	width: 200px;
}
.form-control {
	text-align: center;
}
#analysis-input {
	padding: 1em;
	text-align: center;
	margin: 0 auto;
	@media(min-width: 1000px) {
		width: 45%;
		display: inline-block;
	}
}
#analysis-output {
	text-align: center;
}
.analysis-output-btn {
	display: inline-block;
	margin: 1em 1em 2em 1em;
	width: 100px;
	text-align: center;
	background-color: #D99058;
}



// Welcome Analysis - Modals
.storage-modal-header {
	color: #232323;
	font-size: 1.5em;
}
.storage-modal-header:hover {
	color: #76C370;
	text-decoration: none;
	cursor: pointer;	
}
.glyphicon {
	font-size: 0.5em;
}
.content {
	background-color: white;
	padding: 0.5em;
	border-top: 1px solid #EEEEEE;
	height: 100px;
	overflow: scroll;
}
.text {
	font-weight: 400;
}
#analysis-tables .panel-head {
	background-color: #FFEACE;
	font-size: 1em;
	font-weight: 600;
}
#analysis-tables {
	margin: 0 5%;
	margin-bottom: 5%;
}
.analysis-table {
	@media (min-width: 800px){
		margin: 0 2%;
		display: inline-block;
		width: 45%;
	}
}
.table-header {
	text-align: center;
	font-size: 1.15em;
    vertical-align: middle;
}
.table-data {
	text-align: center;
}
.table-data-end {
	background-color: #B5CEE7;
}




#analysis-graph {
	font-size: 1em;
	line-height: 1.6;
	position: relative;
	padding-bottom: 60%;
	margin: 3% 10%;
	@media(min-width: 600px) {
			font-size: 1.3em;
			padding-bottom: 35%;
			margin: 3% 20%;
		}
}
#analysis-graphs text {
	line-height: 1.6;
}
.chart {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}




#footer {
	background-color: #D99058;
	font-size: 0.75em;
	padding: 2em;
}

//********************
//****** LOGIN *******
//********************
#login-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	padding-top: 1em;
		@media(min-width: 1000px) {
			padding-top: 1em;
			width: 900px;
			margin: 0 auto;
		}
}
#login-container h2 {
	background-color: #76C370;
	color: #232323;
	padding: 0.5em;
}
#login-form {
	margin: 3% 5%;
}

//********************
//***** Register *****
//********************
#register-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	padding-top: 1em;
		@media(min-width: 1000px) {
			padding-top: 1em;
			width: 900px;
			margin: 0 auto;
		}
}
#register-container h2 {
	background-color: white;
	color: #232323;
	padding: 0.5em;
}
#register-form {
	margin: 3% 5%;
	margin-bottom: 25%;
}


//********************
//***** UserData *****
//********************
#user-data-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	margin-bottom: 15%;
}

#user-data-container h2 {
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}

.dataForm {
	width: 75%;
	margin: 5% auto;
}

.table-user {
	text-align: center;
	width: 100%;
}
.table-header {
	margin: 0 auto;
	padding: 0.5em 0 0.5em 0;
}
.table-data {
	margin: 0 auto;
	padding: 1em 0 1em 0;
}
.row-user {
	border-bottom: 1px solid #DDDDDD;
}
.glyphicon-remove-circle {
	font-size: 1.75em;
}
.glyphicon-remove-circle:hover {
	color: #D99058;
}
.container-fluid {
	background-color: #A4D49C;
	color: #232323;
	border: none;
}

.nav-item {
	color: #232323;
	border: none;
}



//*********************
//***** UserDaily *****
//*********************
#user-daily-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	margin-bottom: 15%;
}

#user-daily-container h2 {
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}
.user-data {
	@media (min-width: 775px) {
		width: 70%;
		margin: 0 auto;
	}
}

//**********************
//***** UserWeekly *****
//**********************

#user-weekly-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	margin-bottom: 15%;
}

#user-weekly-container h2 {
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}

//***********************
//***** UserMonthly *****
//***********************

#user-monthly-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	margin-bottom: 15%;
}

#user-monthly-container h2 {
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}

//************************
//***** UserAnnually *****
//************************

#user-annually-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	margin-bottom: 15%;
}

#user-annually-container h2 {
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}


//************************
//***** UserLifetime *****
//************************

#user-lifetime-container {
	font-family: 'PT Sans', sans-serif;
	margin: 5%;
	margin-bottom: 15%;
}

#user-lifetime-container h2 {
	width: 100%;
	color: white;
	font-size: 1.75em;
	display: inline-block;
	background-color: #76C370;
	padding: 0.5em;
	padding-top: 0.75em;
}
