/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif; }

header {
  font-family: 'PT Sans', sans-serif;
  background-color: #B5CEE7;
  padding: 0em 0em 2em 2em;
  margin: 0;
  font-size: 1.25em;
  text-decoration: none; }

#logo-group {
  padding-top: 1em; }

#logo-image {
  height: 112px;
  width: 112px;
  background-color: gray;
  display: inline-block; }

#logo-text {
  font-size: 1.65em;
  display: inline-block;
  color: #D99058;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 0; }

#logo-text:hover {
  text-decoration: none; }

#login-register-link {
  text-decoration: none;
  text-align: right;
  padding-right: 1em;
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  color: white; }

#logout-register-link {
  text-decoration: none;
  text-align: right;
  padding-right: 1em;
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  color: white; }

.login {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  underline: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 200; }

.login:hover {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: #D99058;
  underline: none;
  text-decoration: none;
  cursor: pointer; }

#welcome {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 25%;
  text-align: center; }

#welcome-header {
  margin: 5%; }
  @media (min-width: 1000px) {
    #welcome-header {
      width: 800px;
      margin: 0 auto; } }

#header-text {
  margin: 2em 0;
  line-height: 1.75; }

#welcome-query {
  padding: 2em 0.5em;
  width: 100%;
  background-color: #B5CEE7;
  display: inline-block; }

#welcome-query h2 {
  line-height: 1.3;
  padding-bottom: 1em; }

#welcome-input {
  width: 250px; }

#welcome-dollar {
  width: 20px; }

#input {
  margin-top: 1em;
  font-size: 14px;
  width: 220px;
  text-align: center;
  padding: 0.5em; }

#welcome-button {
  display: inline-block; }

.input-group {
  display: inline-block;
  width: 100%; }

#welcome-analysis {
  font-family: 'PT Sans', sans-serif;
  margin: 5%; }

#millennials {
  text-align: left;
  padding: 1.5em;
  background-color: #D99058;
  display: inline-block;
  width: 100%; }

#millennial-header {
  display: inline-block; }

.millennial-modal-header {
  color: white;
  font-size: 1.5em; }

.millennial-modal-header:hover {
  color: #B5CEE7;
  underline: none;
  text-decoration: none;
  cursor: pointer; }

#menu-text {
  padding: 0.5em 0 0 0;
  text-align: center; }

#analysis-menu {
  text-align: center; }

.input-group {
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
  margin: 0 auto;
  width: 200px; }

.form-control {
  text-align: center; }

#analysis-input {
  padding: 1em;
  text-align: center;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    #analysis-input {
      width: 45%;
      display: inline-block; } }

#analysis-output {
  text-align: center; }

.analysis-output-btn {
  display: inline-block;
  margin: 1em 1em 2em 1em;
  width: 100px;
  text-align: center;
  background-color: #D99058; }

.storage-modal-header {
  color: #7E7E7E;
  font-size: 1.5em; }

.storage-modal-header:hover {
  color: #D99058;
  underline: none;
  text-decoration: none;
  cursor: pointer; }

.closed {
  display: none; }

.open {
  display: inline-block; }

.glyphicon {
  font-size: 0.5em; }

.content {
  background-color: white;
  padding: 0.5em;
  border-top: 1px solid #EEEEEE; }

.panel-heading {
  background-color: #B5CEE7;
  font-size: 1em;
  font-weight: 600; }

#analysis-tables {
  padding: 0 5%;
  text-align: center; }

.analysis-table {
  margin: 3em 0 2em 0; }
  @media (min-width: 1000px) {
    .analysis-table {
      margin: 1em;
      width: 50%; } }

.table-header {
  text-align: center;
  font-size: 1.15em;
  display: table-cell;
  vertical-align: middle; }

.table-data {
  text-align: center; }

.table-data-end {
  background-color: #B5CEE7; }

#analysis-graph {
  margin: 20%; }

#footer {
  background-color: #D99058;
  font-size: 0.75em;
  padding: 2em; }

#login-container {
  font-family: 'PT Sans', sans-serif;
  margin: 5%; }

#login-form {
  margin: 3% 15%; }

#register-container {
  font-family: 'PT Sans', sans-serif;
  margin: 5%;
  margin-bottom: 15%; }

#register-form {
  margin: 3% 15%; }

#user-data-container {
  font-family: 'PT Sans', sans-serif;
  margin: 5%;
  margin-bottom: 15%; }

.form {
  padding: 3% 10% 5% 10%; }

.table-user {
  text-align: center;
  width: 100%; }

.table-header {
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0; }

.table-data {
  margin: 0 auto;
  padding: 1em 0 1em 0; }

.row-user {
  border-bottom: 1px solid #DDDDDD; }

.glyphicon-remove-circle {
  font-size: 1.75em; }

.glyphicon-remove-circle:hover {
  color: #D99058; }

@media (min-width: 1000px) {
  .panel {
    width: 45%;
    display: inline-block; } }

/*# sourceMappingURL=importer.css.map */
