<section id="user-lifetime-container" ng-controller="UserLifetimeCtrl">
	<h2>LIFETIME</h2>

	<div class="future">
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Lifetime View of Anticipated Account Balances</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Total Expenses for over Lifetime</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Total Income for over Lifetime</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Potential Savings over Lifetime</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Investment Comparison of Potential Savings over Lifetime</h3>
	</div>
<section>
