<section id="user-weekly-container" ng-controller="UserWeeklyCtrl">
  <h2>WEEKLY</h2>

	<div class="future">
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Weekly View of Anticipated Account Balances</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Bills due This Week</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Income paid This Week</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Weekly View of Actual Account Balances</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Potential Savings for the Week</h3>
		<br>
	</div>
</section>