<section id="user-annually-container" ng-controller="UserAnnuallyCtrl">
	<h2>ANNUALLY</h2>

	<div class="future">
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Annual View of Anticipated Account Balances</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Total Expenses for the Year</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Total Income for the Year</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Potential Savings for the Year</h3>
		<br>
		<h3><span class="glyphicon glyphicon-plus-sign"></span>Investment Comparison of Potential Savings Annually</h3>
	</div>
</section>