<div id="header" ng-controller="WelcomeCtrl">
	<h1>We Make Finances Understandable.</h1>
	<div id="header-text">
		The mission of Millennial Falcon is to assist humans in understanding and estimating our entire financial lives. From debt, income, and goal mapping to connecting with someone who can help you automate your interaction with finance and plan for the future.
	</div>
	<div id="analysis-input">
		<input type="integer" id="analyze" placeholder="Number of $$ to put away each month."></input>
	</div>
	<div>
		<button class="" ng-click="onEstimateClick()">Primary Button</button>
	</div>
</div>

