<section id="welcome-analysis" ng-controller="WelcomeAnalysisCtrl">
	
	<section id="millennial-analysis">

		<h2>THE ANALYSIS</h2>

		<div id="analysis-input">
			<h3 id="menu-text">Value to Invest</h3>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input id="analysis-value" ng-change="update()" ng-model="value" placeholder="Enter Amount to SAVE" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
			</div>
		</div>

		<div id="analysis-input">
			<h3 id="menu-text">Year to View</h3>
			<div class="input-group">
				<div class="input-group-addon" id="basic-addon1">Year</div>
				<input ng-change="update()" ng-model="analysisYear" id="analysis-year" type="number" class="form-control" placeholder="Year for Estimation" aria-describedby="basic-addon1">
			</div>
		</div>

		<div id="analysis-output">
			<h3> Visualize the Data </h3>
			<button type="button" class="btn btn-primary btn-lg analysis-output-btn" ng-click="onTableClick()">Table</button>
			<button type="button" class="btn btn-primary btn-lg analysis-output-btn" ng-click="onGraphClick()">Graph</button>
		</div>
		<hr>
	</section>


	<div id="analysis-tables" ng-show="analysisTable">
		<div id="stocks" class="panel panel-default analysis-table">
		  <!-- Default panel contents -->
		  <div class="panel-head panel-heading">
		  	<section class="storage-modal">
		  		<a class="storage-modal-header" ng-click="modals.stocks = !modals.stocks">Stock Portfolio
			  		<span class="glyphicon glyphicon-triangle-bottom" ng-hide="modals.stocks"></span>
			  		<span class="glyphicon glyphicon-triangle-top" ng-show="modals.stocks"></span>
		  		</a>
		  		
				<div class="content" ng-show="modals.stocks">
	                <div><strong><a href="http://www.investopedia.com/terms/p/portfolio.asp">Overview</a></strong></div>
	                <p class="text">A grouping of financial assets such as stocks, bonds and cash equivalents, as well as their mutual, exchange-traded and closed-fund counterparts. Portfolios are held directly by investors and/or managed by financial professionals.</p>
	                <div><strong><a href="http://thelawdictionary.org/article/do-i-have-to-pay-taxes-on-my-stock-portfolio/">Taxes</a></strong></div>
	                <p class="text">For our analysis we will only consider the regular "capital gains" income that you'll realize upon selling stocks that have appreciated in value during the time in which you held them. Which, in this example, is a 25% tax rate for anything sold before a year passes, while it is 15% for anything held longer.</p>
				</div>
			</section>
		  </div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Growth</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header table-data-end">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ stockStartValue }}</td>
		    	<td class="table-data">{{ growth }}</td>
		    	<td class="table-data">{{ capitalGains }}</td>
		    	<td class="table-data  table-data-end">{{ stockEndValue }}</td>
		    </tr>
		  </table>
		</div>

		<div id="savings-account" class="panel panel-default analysis-table">
		  <!-- Default panel contents -->
		<div class="panel-head panel-heading">
		  	<section class="storage-modal">
				<a class="storage-modal-header" ng-click="modals.savings = !modals.savings">Savings Account
			  		<span class="glyphicon glyphicon-triangle-bottom" ng-hide="modals.savings"></span>
			  		<span class="glyphicon glyphicon-triangle-top" ng-show="modals.savings"></span>
	  			</a>

	  			<div class="content" ng-show="modals.savings">
	                <div><strong><a href="http://www.investopedia.com/terms/s/savingsaccount.asp">Overview</a></strong></div>
	                <p class="text">Because savings accounts almost always pay lower interest rates than Treasury bills and certificates of deposit, they should not be used for long-term holding periods. Their main advantages are liquidity and superior rates compared to checking accounts. Most modern savings accounts offer access to funds through visits to a local branch, over the internet and through automated teller machines.</p>
	                <div><strong>Taxes</strong></div>
	                <p class="text"><small>This is a synopsis of the tax ramifications on stocks.</small></p>
				</div>
	  		</section>
	  	</div>

		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Growth</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header table-data-end">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ savingsStartValue }}</td>
		    	<td class="table-data">{{ savingsGrowth }}</td>
		    	<td class="table-data">{{ incomeTax }}</td>
		    	<td class="table-data table-data-end">{{ savingsEndValue }}</td>
		    </tr>
		  </table>
		</div>

		<div id="401K" class="panel panel-default analysis-table">
		  <!-- Default panel contents -->
		  <div class="panel-head panel-heading">
		  	<section class="storage-modal">
				<a class="storage-modal-header" ng-click="modals.traditional = !modals.traditional">Traditional: 401K Account or Individul Retirement Account (IRA)
			  		<span class="glyphicon glyphicon-triangle-bottom" ng-hide="modals.traditional"></span>
			  		<span class="glyphicon glyphicon-triangle-top" ng-show="modals.traditional"></span>
	  			</a>

	  			<div class="content" ng-show="modals.traditional">
	                <div><strong>Overview</strong></div>
	                <p class="text"><small>This is a synopsis of a savings account.</small></p>
	                <div><strong>Taxes</strong></div>
	                <p class="text"><small>This is a synopsis of the tax ramifications on stocks.</small></p>
				</div>
	  		</section>
	  	</div>
		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Growth</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header table-data-end">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ traditionalStartValue }}</td>
		    	<td class="table-data">{{ traditionalGrowth }}</td>
		    	<td class="table-data">{{ traditionalIncomeTax }}</td>
		    	<td class="table-data table-data-end">{{ traditionalEndValue }}</td>
		    </tr>
		  </table>
		  </table>
		</div>

		<div id="roth-ira" class="panel panel-default analysis-table">
		  <!-- Default panel contents -->
		<div class="panel-head panel-heading">
		  	<section class="storage-modal">
				<a class="storage-modal-header" ng-click="modals.roth = !modals.roth">Roth: 401K Account or Individual Retirement Account (Roth IRA)
			  		<span class="glyphicon glyphicon-triangle-bottom" ng-hide="modals.roth"></span>
			  		<span class="glyphicon glyphicon-triangle-top" ng-show="modals.roth"></span>
	  			</a>

	  			<div class="content" ng-show="modals.roth">
	                <div><strong>Overview</strong></div>
	                <p class="text"><small>This is a synopsis of a savings account.</small></p>
	                <div><strong>Taxes</strong></div>
	                <p class="text"><small>This is a synopsis of the tax ramifications on stocks.</small></p>
				</div>
	  		</section>
	  	</div>
		  <!-- Table -->
		  <table class="table">
		    <th class="table-header">Year</th>
		    <th class="table-header">Start of Year</th>
		    <th class="table-header">Growth</th>
		    <th class="table-header">Taxes</th>
		    <th class="table-header table-data-end">End of Year</th>
		    <tr>
		    	<td class="table-data"><strong>{{ analysisYear }}</strong></td>
		    	<td class="table-data">{{ rothStartValue }}</td>
		    	<td class="table-data">{{ rothGrowth }}</td>
		    	<td class="table-data">{{ rothIncomeTax }}</td>
		    	<td class="table-data table-data-end">{{ rothEndValue }}</td>
		    </tr>
		  </table>
		  </table>
		</div>
		
	</div>

	<div id="analysis-graphs" ng-hide="analysisGraph">
		<div id="analysis-graph">
			<div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config" class="chart"></div>
		</div>
	</div>

</section>

<section id="millennials">	
  		<a class="millennial-modal-header" ng-click="modals.millennial = !modals.millennial">
  			<h2 id="millennial-header">THE AVERAGE MILLENNIAL
	  		<span class="glyphicon glyphicon-triangle-bottom" ng-hide="modals.millennial"></span>
	  		<span class="glyphicon glyphicon-triangle-top" ng-show="modals.millennial"></span>
	  		</h2>
  		</a>
  		
		<div ng-show="modals.millennial">
            <div class="millennial-content">
                <h3>The User</h3>
                <p class="text">Why a millennial? Because our generation has been faced with the toughest financial environment in recent history, while receiving the least financial education to navigate it.</p>
            </div>

            <div class="millennial-content">
                <h3>Benchmark Data</h3>
                	<p class="text">
                		Our average millennial user data has been pulled from <a href="https://www.whitehouse.gov/sites/default/files/docs/millennials_report.pdf"> whitehouse.gov</a> and is based on the average millennial within this data set.
                		<br>
            			<strong>Age:</strong> 25
            			<br>
            			<strong>Income Tax Rate:</strong> 25%
                	</p>
            </div>

            <div class="millennial-content">
                <h3>Not You?</h3>
                	<p class="text">
                		Not a millennial? Don't worry, 60% of the US population isn't. Though MF is created by millennials, our goal is to help all Americans acheive a better understanding of their finances. Tailor our whole analysis suite to relflect your situation by <a ui-sref="register">registering</a> with us! Also, did we mention.. it's <strong>FREE</strong>.
                	</p>
            </div>
		</div>
	</section>

<div id="footer">
		<p id="disclaimer">
			These calculators are designed to be informational and educational tools only, and when used alone, do not constitute investment advice. We strongly recommend that you seek the advice of a financial services professional before making any type of investment. We also encourage you to review your investment strategy periodically as your financial circumstances change. This model is provided as a rough approximation of future financial performance. The results presented by this calculator are hypothetical and may not reflect the actual growth of your own investments. Millennial Falcon and its affiliates are not responsible for the consequences of any decisions or actions taken in reliance upon or as a result of the information provided by these tools. Millennial Falcon is not responsible for any human or mechanical errors or omissions.
		</p>
</div>
